.btn {
    background-color: transparent;
    border: 5px solid #860000e7;
    border-radius: 15px;
    width: 340px;
    height: 60px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
    color: aliceblue;
}

.btn:hover {
    border: none;
    background-color: #8467a0e7;
    transform: translateY(-9px);
    transition-duration: 0.4s;
}