body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./image/background1.jpg");
  background-size: cover;
  color: aliceblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-device-width: 750px) {
  :root {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    width: 98%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./image/background1.jpg");
    background-size: cover;
    color: aliceblue
  }

}

@media (min-width: 600px) {
  :root {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }


}

@media (min-width: 450px) {
  :root {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }



}